a {
  text-decoration: none;
  color: $blue;

  &:hover,
  &:visited {
    color: $blue;
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  color: $blue;
}

h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 40px;
  line-height: 44px;
  font-family: $serif-stack;
  color: $blue;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  background: $yellow;
  border: $border;
  text-align: center;
}

h3 {
  font-size: $font-size;
  line-height: $line-height;
  background: $yellow;
  border-top: $border;
  border-bottom: $border;
}

h4 {
  font-size: $font-size;
  line-height: $line-height;
}

h5 {
  font-size: 30px;
  line-height: 34px;
  font-family: $serif-stack;
  color: $black;
  font-weight: normal;
}

h6 {
  font-size: 18px;
  line-height: 20px;
  font-family: $serif-stack;
  font-weight: normal;
}

.router-link,
.router-link-active,
.landing__column_middle__sections h2,
.landing__column_left__head__links__item,
section > ul > li {
  cursor: pointer;
}

li {
  font-family: $sans-serif-stack;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
}

p {
  margin-bottom: $line-height-s;

  ul {
    display: inline-block;
    list-style: disc outside;
    font-size: $font-size-s;
    line-height: $line-height-s;
    margin-bottom: $line-height-s;
    margin-left: $line-height-s;

    li {
      display: list-item;
      font-size: $font-size-s;
      line-height: $line-height-s;
    }
  }
}

strong {
  font-weight: bold;
}

sup {
  color: $orange;
  font-size: $font-size-s;
  line-height: $line-height;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  text-transform: lowercase;
  top: -3px;
  margin-right: 3px;
}

form, 
input {
  font-family: $sans-serif-stack;
}

input {
  border-style: solid;
  border: $border-light;

  &:focus {
    outline: none;
    background: $yellow;
  }
}

select {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
  box-sizing:border-box;
  height: $line-height;

  &:focus {
    outline: none;
    background: $yellow;
  }
}

input[type='submit'] { 
  height: $line-height;
  cursor: pointer;
  background-color: $white;
  border: $border;
  text-decoration: none;
  padding: 0 8px;

  &:hover {
    background-color: $yellow;
  }
}

.landing__column_right__list li,
.nav__item__sub__item {
  cursor: pointer;
}