@mixin blue-sans {
  font-family: $sans-serif-stack;
  font-weight: bold;
  color: $blue;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover,
  &:visited {
    color: $blue;
    text-decoration: none;
  }
}

h1 {
  font-size: 40px;
  line-height: 44px;
  font-family: $serif-stack;
  color: $blue;
  font-weight: normal;
}

h5 {
  font-size: 30px;
  line-height: 34px;
  font-family: $serif-stack;
  color: $black;
  font-weight: normal;

}

h2 {
  font-size: 24px;
  line-height: 36px;
  @include blue-sans;
  background: $yellow;
  border: $border;
  text-align: center;
}

h3 {
  font-size: $font-size;
  line-height: $line-height;
  @include blue-sans;
  background: $yellow;
  border-top: $border;
  border-bottom: $border;
}

h4 {
  @include blue-sans;
  font-size: $font-size;
  line-height: $line-height;
}

ul {
  font-family: $sans-serif-stack;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: bold;
  color: $blue;
  /*
  list-style-type: none;
  */

  &.duo {
    display: flex;
    flex-flow: row wrap;

    li {
      width: 50%;
      &:nth-child(odd) {
        width: calc(50% - 20px);
        margin-right: 20px;
      }
    }
  }

  li {
    border-bottom: $border-light;

    &.naturel {
      border-bottom: 0;
    }
  }
}

.router-link,
.router-link-active,
.landing__column_middle__sections h2,
li {
  cursor: pointer;

  &:active {
    // text-decoration: underline;
  }
}

li {
  font-family: $sans-serif-stack;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
  color: $blue;
}

p {
  color: $black;
}

strong {
  font-weight: bold;
}

sup {
  color: $orange;
  font-size: $font-size-s;
  line-height: $line-height;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  text-transform: lowercase;
  top: -3px;
  margin-right: 3px;
}
